
a{
	text-decoration: none;
	color: black;
	padding: 0 10px;
}

header a:hover{
	background-color: #f39c12;
	border-radius:5px;
}

#slogan{
	display: none;
	opacity: 0;
}

.earth-point{
	color: #f39c12;
}

.wrapper
{
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

header h2
{
    float: left;
    margin-top: 32px;
	width:auto;
}

h2 {
	font-family: 'Source Sans Pro', serif;
	font-size: 50px;
}


#main-text {
	font-size: 20px;
	text-align: center;
	margin-left: 30%;
	margin-right: 15%;
}



header {
	height: 120px;
}


header nav
{
    float: right;   
    margin-top: 32px;
	list-style-type: none;
}
header nav ul li
{
	float:left;
	flex-grow: 1;
	
}

#mid{
	flex-grow: 1;
}

header nav ul{
	display: inline-flex;
	font-family: 'Roboto Mono', monospace;
}
header nav ul li a
{
    
    font-weight: bold;
    margin-right: 20px;
	text-decoration:none;
	padding: 0 5px;
}

#purple_plane {
	width:16%;
	height:auto;
	float: left;
	position: absolute;
	border-radius: 15px;
	margin: 10px 0 auto 10px;
}

#main-article {
	height: 200px;
	background-color: #f39c12;
	border-radius: 10px;
}

#main-article p{
	text-align:center;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 25px;
	font-family: 'Oswald', sans-serif;
	word-spacing: 7px;
}
 h3 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bolder;
	padding-top:10px;
	text-align: center;
	font-size: 37px;
	text-align:center;
	
}


#main-title {
	text-align: center;
	padding-top: 10px;
}


#main-button {
	position: absolute;
	display: block;
	float: right;
    width: 120px;
    height: 50px;
    background: #d35400;
    color: #fff;
    font-size: 15px;
    margin-bottom: 20px;
    margin-right: 10px;
    line-height: 50px;
    text-align: center;
    border-radius:  3px;
}

#news{}

#videos{}

#contact{}

#flexing{
	margin: 100px 50px;
	flex-direction: row;
	display: flex;
	padding: 0 auto;
}

.article {
	text-align: center;
	background-color: #f39c12;
	border-radius: 10px;
	max-width: 500px;
}

.article h4{
	font-size: 19px;
	padding-top: 35px;
	font-family: 'Roboto Condensed', sans-serif;
	
}

.article a{
	display: table-cell;
    vertical-align:middle;
}

.realArticle img{
	margin: 0 400px;
	width: 20%;
	height: auto;
}

.realArticle{
	background-color: #f39c12;
	text-align:justify;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 25px;
	font-family: 'Oswald', sans-serif;
	word-spacing: 7px;
	padding-bottom:10px;
	margin-bottom: 100px;
	border-radius: 15px;
}

#article1{
	
	order: 1;
	flex-grow: 1;
}

footer{
	background-color: #f39c12;
	border-radius: 15px;
	height: 100px;
	text-align: center;
}

footer .wrapper{
	padding: 30px 0;
	font-family: 'Roboto Condensed', sans-serif;
}

#article2{
	margin-left: 50px;
	margin-right: 50px;
	order: 2;
	flex-grow: 1;
}

#article3{
	order: 3;
	
	flex-grow: 1;
}

#misterv{
	float: left;
	max-width: 40%;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
}